# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
tab_width = 8
trim_trailing_whitespace = true
insert_final_newline = true

# Batch files use tabs for indentation
[*.bat]
indent_style = tab
end_of_line = crlf

[*.{c,h}]
indent_style = space
indent_size = 4

[*.m4]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

# JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore

[*.py]
indent_size = 4
max_line_length = 80

[*.rb]
indent_size = 3

[*.sh]
indent_size = 4

[*.xml]
indent_style = space
indent_size = 2

[{*.am,*.mk,Makefile,makefile}]
indent_style = tab
indent_size = 4

[Dockerfile]
indent_style = space
indent_size = 4

